.navDiv{
    width: 200px;
    height: 500px;
    border: 1px solid black;
    background-color: skyblue;
    margin-top: 30px;
    float: left;
}
a{
    margin-left: 80px;
    text-decoration: none;
}
.navComp{
    margin-left: 10px;
}